
/* body{
    display: flex;
    justify-content: center;
    background-color: #3aba25;
} */

/* .exterior{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 750px;
    height: 500px;
    background-color: black;
    margin-top: 10%;
    
} */
#canvas1{
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 900px;
}